*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1a1c28;
    display: flex;
    place-items: center;
    min-height: 100vh;
}
.topnav {
    overflow: hidden;
    background-color: #202124;
    color: #f0f0f0;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.5rem;
    height: 100%;
    transition: transform 0.3s ease-out;
  }
  
  .topnav a:hover {
    color: wheat;
    transform: translateY(-3px);
  }
  
  .topnav a:active {
    color: wheat;
    transform: translateY(5px);
  }
main{
    display: grid;
    grid-template-areas: 
    'a a a b'
    'a a a b'
    'c c d d'
    'c c e e'
    ;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: 50%;
    margin: auto
}
main div{
    padding: 3em;
    text-align: center;
    color: rgb(255, 255, 255);
}
.a{
    background-color: #eb5020;
    grid-area: a;
}
.b {
    background-color: #ffa401;
    grid-area: b;
}
.c {
    background-color: #05aa42;
    grid-area: c;
}
.d {
    background-color: #01aefd;
    grid-area: d;
}
.e {
    background-color: #01aefd;
    grid-area: e;
}
